body{
    font-family: 'Ubuntu';font-size: 22px !important;
    font-weight: bold;
    margin: 0rem;
}

.nav-bar{
    background-color: #000000;
    padding: 0.5rem 1rem;
    color: #EFEFEF;
}
.nav-bar a{
    color: #EFEFEF;
    text-decoration:none;
}

.nav-bar ul{ list-style-type:none; }

.global-component{
    padding: 0rem;
    background-color: #EFEFEF;
    min-height: 100vh;
}
.global-card{ padding: 0.5rem 1rem; }

/* TEXT COLOR */
.text-black{ color: black !important; }
.text-red{ color: #FF0000 !important; }
.text-white{ color: #EFEFEF !important; }
.text-orange{ color: #F66B0E !important; }
.text-green{ color: #00FF00 !important; }
.text-bright-green{ color: #11F60E !important; }
.text-dark-blue{ color: #112B3C !important; }


/* SCROLLBAR */
    /* width */
    ::-webkit-scrollbar { width: 0.5rem; }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 0.75rem;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #F66B0E;
      border-radius: 0.75rem;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover { background: #F66B0E; }

/* GAP */
.gap-0 { gap: 0rem; }
.gap-1 { gap: 0.25rem; }
.gap-2 { gap: 0.5rem; }
.gap-3 { gap: 1rem; }
.gap-4 { gap: 1.5rem; }
.gap-5 { gap: 2rem; }
.gap-6 { gap: 3rem; }


/* LINK */
a { text-decoration: none !important; }

p { margin: 0rem 0.3rem !important;}